language: java
jdk: oraclejdk8

before_install:
  - chmod +x mvnw

branches:
  only:
    - dev
    - master

# Travis CI 서버의 Cache 활성화
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

# clean 후 Build (Build시 자동으로 test 수행)
script: "./gradlew clean build"