<!--bootstap은 jquery가 꼭 있어야하므로(의존) 부트스트랩보다 먼저 호출시킴-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js추가-->
<script src="/static/js/app/index.js"></script>
</body>
</html>